.class{
    background-color:rgb(64, 208, 83);
    background-color: rgb(204, 132, 16);

    background-color: rgb(241, 76, 76);
    background-color:rgb(255, 0, 81);
    background-color:#008b8b;
    background-color:rgb(4, 4, 149);
    background-color: rgb(94, 47, 12);
}