<div>
  <div class="flex flex-row justify-between m-4 lg:m-8">
    <div class="flex flex-row items-center text-3xl">
    <i class="fa-solid fa-sack-dollar text-solidpurple mr-3"></i>
<h1 class="text-solidpurple font-nunito font-semibold">Spend Wise</h1>
</div>
<div class="text-solidpurple border-2 border-solidpurple text-right bg-fuchsia-500 flex justify-items-center items-center rounded-full  w-8 h-8 lg:text-2xl lg:w-12 lg:h-12 ">
<span class="ml-[2px]">
  MA
</span>
</div>
</div>
<hr class="border-t border-purple-200 mb-0 w-1/2">

</div>