


<input class="border-0 text-2xl" type="month" [(ngModel)]="defaultMonth" (ngModelChange)="checkChange($event)"/>
<div class="flex flex-row flex-wrap">
<div class="bg-fuchsia-600 rounded-md h-52 z-0 w-80 m-5 hover:cursor-pointer" (click)="togglePopup()">
    <div class="flex flex-col justify-center items-center relative top-1/3 w-full">
    <svg class="h-12 w-12 text-white "  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="12" cy="12" r="9" />  <line x1="9" y1="12" x2="15" y2="12" />  <line x1="12" y1="9" x2="12" y2="15" /></svg>
    <h3 class="text-white">Add Bills</h3>
</div>
</div>

<app-card class="hover:cursor-pointer" *ngFor="let category of categories" [category]="category" (cardClick)="onCardClick($event)"></app-card>
</div>
 @if(togglepopup.showPopup()){
    <app-expense></app-expense>
 }